<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="com.taijiu.eclipse.plugin.findclass.contribution1">
         <menu
               label="Open Class File Directory"
               path="additions"
               id="com.taijiu.eclipse.plugin.findclass.menu1">
         </menu>
         <action
               label="Open Class File Directory"
               icon="icons/export.png"
               class="com.taijiu.eclipse.plugin.findclass.actions.FindClass"
               menubarPath="com.taijiu.eclipse.plugin.findclass.menu1"
               enablesFor="1"
               id="com.taijiu.eclipse.plugin.findclass.newAction">
         </action>
      </objectContribution>
      
   </extension>

</plugin>
